*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 0px 100px;
    font-family: 'Raleway';
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    width: auto;
    margin-top: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
.logo-div{
    display:inline-flex;
    width: auto;
}

.logo-div p{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;

}

.hamburger{
    width: auto;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    margin-top: 15px;
    z-index: 1;
    display: none;
}
.hamburger:focus{
    outline: none;
}
.hamburger:hover{
    background: transparent;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 0px 20px;
    display: inline-block;
}

nav ul li a:after{
    display: block;
    content: '';
    height: 4px;
    transform: scaleX(0.0001);  
    background:#E47C05;
    transition: transform 250ms ease-in-out;
    box-shadow: inset -40px 0px 30px -25px #fff, inset 40px 0px 30px -25px #fff
}
nav ul li a:hover:after{
    transform: scaleX(1);
}

.landing-page{ 
    min-height: 90vh; 
    margin-bottom: 50px;
    position: relative;
    background-color: #ffffff;
   
}
.landing-text{
    margin: 50px 100px 0px 100px;
    width: 50%;
    margin-top: 160px;
    vertical-align: middle;
}
.landing-page img:nth-of-type(2){
    width: 100%;
    margin-top: 300px;
}
.landing-text p:nth-of-type(1){
    font-size: 45px;
    font-family: 'Raleway';
    line-height: auto;
}

.landing-text p:nth-of-type(2){
   line-height: 22px;
   font-family: 'Raleway';
   letter-spacing: .8px;
   margin-bottom: 30px;
}

.vector, .vector-2{
    position: absolute;
    right: 0px;
    top: 0px;

}
.substitute{
    display: none;
}
.food{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    bottom: 340px ;
    margin-left: 70%;
    animation-name: food-drop;
    animation-duration: 2s;
}

@keyframes food-drop{
    0%{
        
        opacity: 0;
    }
    100%{
        
    }
}

.landing-text button{
    background: #EF8A17;
    border: none;
    width: 142px;
    height: 53px;
    border-radius: 40px;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
button:hover{
    background: #E47C05;
}

.about-section{
    position: relative;
    margin: 100px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
    min-height: 70vh;
}
.about-section p:nth-of-type(1){
    font-size: 50px;
    font-family:'Raleway';
    
    color: #EF8A17;

}

.about-section p:nth-of-type(2){
    line-height: 22px;
    letter-spacing: .8px;
    font-family: 'Raleway';
    margin-top: 15px;
    
}
.about-text{
    width: 50%;
}

.about-image{
    width: 287px;
    height: 410px;
    background: #F7C892;
    border-radius: 40px 0px 40px 0px;
    margin-bottom: 40px;
}

.about-image img{
   margin-top: 35px;
   margin-left: 35px;
}
.menu-section{
    margin: 10px 0px 0px 0px;
    margin-bottom: 150px;
    position: relative;
    min-height: 80vh;
   
}
.menu-section > p:nth-of-type(1){
    font-size: 50px;
    font-family: 'Raleway';
    margin-top: 50px;
    color: #EF8A17;
    margin-left: 98px;
}

.menu-slide , .menu-slides{
    display: flex;
    margin: 30px 100px 0px 100px;
}

.menu-slide{
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-slides{
    margin-top: 30px auto;
    justify-content: center;
    width: 80vw;

}

.slide1{
   margin-right: 20px;
   display: flex;
   justify-content: center;
   background: #F6BF7F;
   width: auto;
   height: auto;
   border-radius: 40px 0px 40px 0px;
}

.slide1 img{
    display: block;
    margin: 0 auto;
    justify-content: center;
    padding-top: 10px;
}

.slides1 p{
    margin-top: 20px;
    text-align: center;
    font-family:'Raleway';
    font-size: 15px;
    margin-bottom: 10px;
    
   
}

.slides1 p span{
    font-weight: 600;
}

.slides1 button{
    display: block;
    background:#EF8A17;
    width: 130px;
    height: 38px;
    border-radius: 40px;
    border: none;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    outline: none;
    color: #FFF8F8;
    text-transform: uppercase;
    font-family: 'montserrat';
    font-weight: 600;
    cursor: pointer;
}

.slides1 button:hover{
    background: #E47C05;
}

.custom-shape-divider-bottom-1604936580 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1604936580 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 194px;
}

.custom-shape-divider-bottom-1604936580 .shape-fill {
    fill: #E47C05;
}
.mailing-list{
    font-family: 'montserrat';
    position: relative;
    min-height: 60vh;
}
.mailing-list p:nth-of-type(1){
    color: #EF8A17;
    font-size: 45px;
    margin: 30px 100px 0px 100px;
}
.mailing-list p:nth-of-type(2){
    letter-spacing: .5px;
    font-size: 18px;
    width: 300px;
    margin: 10px 100px 0px 100px;
    
}

form{
    margin: 30px 100px 0px 100px;
    width: 40vw;
    height: auto;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, .4) ;
    background: #ffffff;
    display: flex;
    border-radius: 5px;
    margin-top: 20px;
}

.form-control{
    margin-left: 30px;
    margin-top: 30px;
    width: 80%;
    position: relative;
}

.form-control input{
    border: none;
    outline: none;
    background: none;
    padding-bottom: 2px;
    color: #333333;

}
.group{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    
}
.group input{
   font-family: 'Raleway', sans-serif;
   color: #333333;
   display: block;
   width:80%;
}

form button{
    border: none;
    width: 142px;
    height: 42px;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
    outline: none;
    margin-bottom: 20px;
    background: #EF8A17;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
}

.custom-shape-divider-bottom-1604663522 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1604663522 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 267px;
}

.custom-shape-divider-bottom-1604663522 .shape-fill {
    fill: #EF8A17;
}

.contact-address{
    margin: 0px 100px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    justify-content: space-between;
    font-family: 'Raleway'; 
}

.address p{
    width: 250px;
}

.address, .contact, .times p{
    display: flex;
    margin-bottom: 10px;

}

.heading{
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-address-container{
    background: #EF8A17;
}

footer p{
text-align: center;
font-family: 'Raleway';
color: #333333;
}


@media only screen and (max-width: 1193px){
    .substitute{
        display: block;
    }
    .main-bg{
        display: none;
    }
    .about-text{
        width: 50%;
        margin-top: 30px;
    }
    .about-section p:nth-of-type(2){
        line-height: 19px;
        letter-spacing: .8px;
        font-family: 'Raleway';
        margin-top: 15px;
        
    }
    .slide1 img{
        margin: 15px 0px 20px 5px;
    }
   

}

@media only screen and (max-width: 1016px){
    .food{
        margin-left: 63%;
    }
    .about-text{
        width: 50%;
        margin-top: 0px;
    }
    .logo-div p{
        padding-top: 15px;
    }
    .about-section p:nth-of-type(2){
        line-height: 17px;
        letter-spacing: 1.2px;
        font-family: 'Raleway';
        margin-top: 15px;
        
    }
    .logo-div p{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 874px){
    .food{
        margin-left: 60%;
        bottom: 250px ;
        margin-left: 70%;
        animation-name: food-drop;
        animation-duration: 2s;
    }
    .about-section{
        flex-direction: column-reverse;
        margin: 0px 40px 0px 40px;  
    }
    .about-text{
        width: 100%;

    }
    .about-section p:nth-of-type(2){
        line-height: 17px;
        letter-spacing: 1.2px;
        font-family: 'Raleway';
        margin-top: 15px;
        font-size: 12px;
    }
    .about-section p:nth-of-type(1){
        text-align: center;
        font-size: 35px;
    }
    .about-image{
        width: 35vw;
        height: auto;
        background: #F7C892;
        border-radius: 40px 0px 40px 0px;
        justify-content: center;
        display: block;
        margin: 20px auto;
    }
    .about-image img{
        display: block;
        width: 30vw;
        margin: 0 auto;
        padding: 10px 0px;

    }
    .landing-page{ 
        min-height: 50vh; 
        margin-bottom: 100px;
        position: relative;
    }

    .vector-2{
        display: none;
    }
    .food img{
        width: 25vw;
    }

   .menu-slides{
        display: flex;
        margin: 30px 100px 0px 50px;
    }
    form{
        margin: 30px 100px 0px 100px;
        width: 60vw;
        height: auto;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, .4) ;
        background: #ffffff;
        display: flex;
        border-radius: 5px;
        margin-top: 20px;
    }

    .landing-text p:nth-of-type(2){
        line-height: 20px;
        font-family: 'Poppins';
        letter-spacing: .1px;
        margin-bottom: 30px;
        font-size: 13px;
    }
    .landing-text p:nth-of-type(1){
        font-size: 35px;
    }
    nav{
        margin: 20px 40px 0px 40px;
    }
    .landing-text{
        margin: 140px 40px 0px 40px;
    }

    .menu-section > p:nth-of-type(1){
        font-size: 35px;
        text-align: center;
        margin-left: 0px;
    }
    .mailing-list p:nth-of-type(1){
        color: #EF8A17;
        font-size: 35px;
        margin: 30px 40px 0px 40px;
    }
    .mailing-list p:nth-of-type(2){
        letter-spacing: .5px;
        font-size: 15px;
        width: 300px;
        margin: 10px 40px 0px 40px;
    }
    
    form{
        margin: 30px 40px 0px 40px;
        height: auto;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, .4) ;
        background: #ffffff;
        display: flex;
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .form-control{
        margin-left: 30px;
        margin-top: 40px;
        width: 80%;
        position: relative;
    }

    .contact-address{
        margin: 0px 100px 0px 100px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 80%;
        justify-content: space-between;
        font-family: 'Raleway';
    }
    
    .address p{
        width: 250px;
    }
    
    .address, .contact, .times p{
        display: flex;
        margin-bottom: 10px;
    
    }
    
    .heading{
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .contact-address-container{
        background: #EF8A17;
    }
    .contact-address{
        flex-direction: column;
        margin: 0px 40px 0px 40px;
    }

    .address-div, .opening-hours{
        padding-bottom: 30px;
    }
    .bag{
        margin-top: 10px;
    }
    .landing-text button{
        width: 122px;
        height: 45px;
        border-radius: 45px;
    }
}
@media only screen and (max-width: 757px){

    .hamburger{
        display: block;
    }

    nav ul{
        display: none;
        width: 100%;
        height: 95vh;
        align-items: center;
        background: #E47C05;
        top: 5vw ;
        margin-top: 30px;
        animation: left 0s 0s alternate ease-out;
    }

    nav ul li{
        padding-top: 50px;
    }

    nav ul li a{
        font-size: 24px;
        font-family: 'raleway';
    }

    nav ul li a:hover{
        font-size: 30px;
        transition: .5s;

    }

    @keyframes left {
        0%{
            left: 0;
        }
        100%{
            left: 100%;
        }
    }

    nav ul li a:after{
        display: block;
        content: '';
        height: 4px;
        transform: scaleX(0.0001);  
        background:#ffffff;
        transition: transform 250ms ease-in-out;
        box-shadow: inset -40px 0px 30px -25px #fff, inset 40px 0px 30px -25px #fff
    }
    nav ul.check{
       display: flex;
       flex-direction: column;
       position: absolute;
       animation: left .5s 0s alternate-reverse ease-in;

    }
    nav{
        display: flex;
        justify-content: space-between;
        margin: 20px 0px 0px 0px;
    }
    .logo-div{
        margin-left: 40px;
    }
    .hamburger{
        margin-right: 40px;
    }
}

@media only screen and (max-width: 674px){
    .landing-text p:nth-of-type(1){
        font-size: 30px;
    }
}