*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    
}

.logo-div{
    display: flex;
   
}

.logo-div p{
    padding-top: 15px;
    font-weight: 700;
    font-size: 18px;
}

nav{
    margin: 30px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
    font-family: 'montserrat';
}
nav ul{
    width: 20vw;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

.landing-page{  
    margin: 30px 100px 0px 100px;
    position: relative;
    background-color: #ffffff;
    max-height: 10vh;
}
.landing-text{
    margin: 30px 100px 0px 100px;
    width: 50%;
    margin-top: 160px;
    vertical-align: middle;
}
.landing-page img:nth-of-type(2){
    width: 100%;
    margin-top: 300px;
}
.landing-text p:nth-of-type(1){
    font-size: 45px;
    font-family: 'Poppins';
    line-height: auto;
}

.landing-text p:nth-of-type(2){
   line-height: 22px;
   font-family: 'Poppins';
   letter-spacing: .8px;
   margin-bottom: 30px;
}

.landing-text button{
    background: #EF8A17;
    border: none;
    width: 142px;
    height: 53px;
    border-radius: 40px;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
.about-section{
    margin: 30px 100px 0px 100px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    height:auto;
}
.about-section p:nth-of-type(1){
    font-size: 50px;
    font-family: 'montserrat';
    margin-top: 280px;
    color: #EF8A17;

}

.about-section p:nth-of-type(2){
    line-height: 22px;
    letter-spacing: .8px;
    font-family: 'montserrat';
    margin-top: 15px;
    
}
.about-text{
    width: 50%;
}

.about-image{
    width: 287px;
    height: 410px;
    background: #F7C892;
    border-radius: 40px 0px 40px 0px;
    margin-top: 240px;
    margin-right: 80px;
    margin-bottom: 40px;
}

.about-image img{
   margin-top: 35px;
   margin-left: 35px;
}
.menu-section{
    margin: 30px 0px 0px 0px;
    margin-bottom: 150px;
    position: relative;
    min-height: 95vh;
}
.menu-section > p:nth-of-type(1){
    font-size: 50px;
    font-family: 'montserrat';
    margin-top: 50px;
    color: #EF8A17;
    margin-left: 98px;
}
.slide1{
   background: #F6BF7F;
    width: 182px;
    height: 182px;
    border-radius: 40px 0px 40px 0px;
}

.menu-slide , .menu-slides{
    display: flex;
    margin: 30px 100px 0px 100px;
}

.menu-slide{
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-slides{
    margin-top: 30px;
}
.back{
    margin-top: 60px;
}
.back img{
    cursor: pointer;
}
.back.left{
    margin-right: 10px;
}

.back.right{
    margin-left: 10px;
}

.slide1 img{
    margin: 20px auto auto 15px;
}

.slide1 p{
    margin-top: 20px;
    text-align: center;
    font-family: 'montserrat';
    font-size: 15px;
    margin-bottom: 10px;
   
}

.slide1 p span{
    font-weight: 600;
}

.slide1 button{
    display: block;
    background:#EF8A17;
    width: 130px;
    height: 38px;
    border-radius: 40px;
    border: none;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    outline: none;
   
    color: #FFF8F8;
    text-transform: uppercase;
    font-family: 'montserrat';
    font-weight: 600;
    cursor: pointer;
}

.custom-shape-divider-bottom-1604657308 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1604657308 svg {
    position: relative;
    display: block;
    width: calc(189% + 1.3px);
    height: 377px;
}

.custom-shape-divider-bottom-1604657308 .shape-fill {
    fill: #EF8A17;
}
.mailing-list{
    margin: 30px 100px 0px 100px;
    font-family: 'montserrat';
   margin-bottom: 50px;
}
.mailing-list p:nth-of-type(1){
    color: #EF8A17;
    font-size: 45px;
}
.mailing-list p:nth-of-type(2){
    letter-spacing: .5px;
    font-size: 18px;
    width: 300px;
    
}

form{
    width: 40vw;
    height: auto;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, .4) ;
    background: #ffffff;
    display: flex;
    border-radius: 5px;
    margin-top: 20px;
}

.form-control{
    margin-left: 30px;
    margin-top: 40px;
    width: 80%;
    position: relative;
}

.form-control input{
    border: none;
    outline: none;
    background: none;
    padding-bottom: 2px;
    color: #333333;

}
.group{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    
}
.group input{
   font-family: 'Raleway', sans-serif;
   color: #333333;
   display: block;
}

form button{
    border: none;
    width: 142px;
    height: 42px;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
    outline: none;
    margin-bottom: 20px;
    background: #EF8A17;
    cursor: pointer;
}